@import '../../assets/styles/util/variables.scss';

// Container styling
.employer-job-posts-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  color: $text-color;
  border-radius: 8px;
  box-shadow: $box-shadow;

  h1 {
    color: $text-color;
    text-align: center;
    margin-bottom: 20px;
    font-family: $font-family;
  }

  .job-list {
    list-style: none;
    padding: 0;

    .job-list-item {
      background-color: $form-bg-color;
      border: 1px solid $input-border-color;
      border-radius: 6px;
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: $box-shadow;

      .job-title {
        color: $primary-color;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .job-description {
        font-size: 1rem;
        color: black;
        margin-bottom: 10px;
      }

      .job-meta {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        p {
          margin: 0;
          font-size: 0.9rem;
          color:black;
          strong {
            color: $secondary-color;
          }
        }
      }

      .job-posted {
        font-size: 0.8rem;
        color: $text-hover-color;
        margin-top: 10px;
      }
    }
  }

  .error-message,
  .no-jobs-message {
    color: black;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
  }
}
