@import '../../assets/styles/util/variables.scss';

.create-profile-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: $form-bg-color;
  border-radius: 8px;
  box-shadow: $box-shadow;
  transition: all 0.3s ease-in-out;

  h1 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 20px;
  }

  // Scoped styles for form elements
  input[type="text"],
  input[type="email"],
  input[type="file"],
  textarea,
  .benefits-input .form-input {
    background-color: $form-bg-color;
    border: 1px solid $input-border-color;
    color: $border-color;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 4px; // Consistent styling for all inputs
    box-sizing: border-box; // Make inputs responsive

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: $text-color;
  }

  .benefits-input {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;


    // Input field for benefits
    .form-input {
      flex: 1;
    }

    // Add Benefit button
    button {
      background-color: $button-bg-color;
      color: $text-color;
      border: none;
      border-radius: 8px;
      padding-left:8px;
      padding-right:8px;
      height: 90%; // Match input height
      cursor: pointer;
      transition: background-color 0.3s;
      margin-left: 12px;
      margin-bottom: 8px;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }


  .benefits-list {
    margin: 10px 0;

    .benefit-item {
      display: inline-block;
      background-color: $secondary-color;
      color: $text-color;
      border-radius: 4px;
      padding: 5px 10px;
      margin-right: 5px;
      margin-bottom: 5px;

      .delete-benefit {
        background: none;
        border: none;
        color: $text-color;
        cursor: pointer;
        font-weight: bold;
        margin-left: 5px;
      }
    }
  }

  .submit-btn {
    background-color: $button-bg-color;
    color: $text-color;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-color;
    }

    &.shrinking {
      animation: shrink 0.5s forwards;
    }
  }

  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }

  .image-preview {
    margin: 10px 0;

    img {
      border: 1px solid $input-border-color;
      border-radius: 4px;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.show {
      opacity: 1;
    }

    i {
      font-size: 50px;
      color: $text-color;
    }
  }
}

// Responsive design for smaller screens
@media (max-width: 600px) {
  .create-profile-page {
    padding: 15px;

    h1 {
      font-size: 24px;
    }
  }
}
