// _variables.scss

$bg-color: #212529;
// Primary color scheme
$primary-color: #212529; // Used for main backgrounds, buttons
$secondary-color: #4ecdc4; // Accent color

// Text colors
$text-color: #ffffff;
$text-hover-color: #ff6b6b;

// Button colors
$button-bg-color: #fe3c72;
$button-hover-color: #ef4a75;
$input-bg: #335c67;

// Form Colors
$form-bg-color: #ffffff;

// Other colors (for borders, highlights, etc.)
$border-color: #212529;
$input-border-color: #b0b0b0; // Light gray for input borders

//Font Style
$font-family: "Times Roman", sans-serif;

//Shadow Style
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
