.footer-container {
  width: 100%;
  background-color: #f8f9fa;
  padding: 1.35rem; // Reduced padding for a slimmer look
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);

  h4 {
    margin: 0;
    font-size: 0.9rem; // Slightly smaller font for a compact look
    color: #333;
  }

  .bi-github {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;

    &:hover {
      color: #007bff;
    }
  }
}