@import '../../assets/styles/util/variables.scss';

.search-container {
  width: 50%;
  margin: auto;
  text-align: center;
  box-shadow: $box-shadow;
}

.result-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.button-group {
  button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.previous-button {
  background-color: $input-bg;
  color: white;
}

.next-button {
  background-color: $secondary-color;
}

.error {
  color: red;
  font-weight: bold;
}
