@import "../../assets/styles/util/variables.scss";

.job-posting-container {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f8f9fa; // Light background for the form
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Slight shadow for depth

  .formJobPosting {
    width: 400px;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Slight shadow for depth
    margin-top: 60px;
    border-radius: 10px;

    .form-group {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        color: $button-bg-color;
        margin-top: 5px;
      }

      label {
        font-weight: 600;
        color: #343a40;
        display: block;
        margin-bottom: 5px;
      }

      .form-control {
        width: 18rem;
        padding: 10px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        font-size: 16px;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: $button-bg-color;
          box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
        }
      }
    }

    // Textarea specific styling
    textarea {
      height: 150px;
      width: 18rem;
      border-radius: 5px;
      border: 1px solid #ced4da;
      font-size: 16px;
      transition: border-color 0.3s ease;
      // resize: none;
    }

    .button {
      padding: 5px;
      margin-bottom: 10px;
      font-size: 18px;
      border-radius: 5px;
      background-color: $button-bg-color;
      border-color: $button-bg-color;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        background-color: darken($button-bg-color, 10%);
        box-shadow: 0px 6px 12px rgba(0, 123, 255, 0.2);
      }

      &:disabled {
        background-color: lighten($button-bg-color, 20%);
        cursor: not-allowed;
      }
    }
  }
}
