@import "../../assets/styles/util/variables.scss";

.notifications-container {
  background-color: $text-color;

  font-family: $font-family;
  padding: 20px;
  border-radius: 8px;
  box-shadow: $box-shadow;
  overflow-y: scroll;
  height: 750px;

  h1 {
    text-align: center;
    color: $primary-color;
  }

  h2 {
    color: $text-color;
    padding-top: 4rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .button-group {
    display: flex;
    justify-content: space-evenly;

    .accept-button {
      background-color: $button-bg-color;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px;

      &:hover {
        background-color: lighten($button-bg-color, 10%);
      }
    }
    .reject-button {
      background-color: $input-bg;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px;

      &:hover {
        background-color: lighten($input-bg, 10);
      }
    }
    .vpro-button {
      background-color: $secondary-color;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px;

      &:hover {
        background-color: lighten($secondary-color, 10%);
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  li {
    background-color: $form-bg-color;
    padding: 15px;
    margin: 10px;

    border-radius: 8px;
    box-shadow: $box-shadow;
    width: 370px;

    .job-posting-title {
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 8px;
    }

    .job-seeker-name {
      color: $button-bg-color;
      font-weight: bold;
    }

    .job-description {
      color: $primary-color;
      margin-bottom: 10px;
      height: 100px;
      overflow-y: auto;
    }

    .skills-list {
      color: $text-hover-color;
      font-style: italic;
    }
  }

  // Responsive design
  @media (max-width: 768px) {
    padding: 0px;

    // li {
    //   padding: 0px;
    // }
  }
}
.em-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background-color: $form-bg-color;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .close-btn:hover {
    color: red;
  }
}
