.delete-profile-container {
    position: relative;
    margin-top: 2rem; // Adjust as needed
  
    .delete-profile-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      background-color: #d9534f; // Bootstrap red
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: darken(#d9534f, 10%);
      }
  
      &:focus {
        outline: none;
      }
    }
  }
  