@import "../../assets/styles/util/variables.scss";

.logout-overlay {
  background-color: rgba(0, 0, 0, 0.4); // Semi-transparent overlay
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease-out;
  opacity: 1;

  .logout-overlay.fade-out {
    opacity: 0;
  }

  .logout-message {
    width: 400px; // Increased width
    padding: 30px; // Increased padding for height
    border-radius: 8px;
    background-color: $form-bg-color;
    box-shadow: $box-shadow;
    text-align: center;
    color: $text-color;
    transition: transform 0.5s ease-out;
    transform: translateY(0);
  }

  .logout-overlay.fade-out .logout-message {
    transform: translateY(-50px);
  }

  h2 {
    color: Black; // Matches login header
    margin-bottom: 30px;
    font-size: 28px; // Slightly larger for visibility
  }

  p {
    font-size: 16px;
    color: $text-color;
  }
}
