/* Styling for the navigation bar */
@import "../../assets/styles/util/variables.scss";
$position: fixed;
nav {
  background-color: #212529;
  padding: 0.5rem;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .navbar-scrolled {
    background-color: #212529;
    transition: background-color 0.4s ease;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Aligns items vertically if they vary in height */
    width: 100%; /* Ensures the navbar items span the full width */
  }

  li {
    margin: 0; /* Remove any margin to make items flush */
  }

  .navbar-link {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border: none;
    background: none;
  }
  .logout-button {
    font-size: 1.15rem;
    padding: 0.25rem 1rem;
    background: none;
    border: none;
    border-radius: 5px;
    color: #ecf0f1;
  }

  /* Hover effect for both links and logout button */
  .navbar-link:hover,
  .logout-button:hover {
    background-color: #34495e;
    color: #fff;
  }

  /* Hover effect for both links and logout button */
  .navbar-link:hover,
  .logout-button:hover {
    background-color: #34495e;
    color: #fff;
  }

  /* Responsive styling for smaller screens */
  @media (max-width: 768px) {
    ul {
      justify-content: center;
    }

    li {
      margin: 10px 0;
    }
  }
}
